<ion-header>
  <ion-toolbar>
    <div class="header">
      <img
        style="height: 90%; margin: 12px"
        src="../../../../assets/logo.PNG"
      />
      <ion-title style="padding: 0%">TPO</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card class="card" *ngFor="let job of jobs">
      <ion-card-header>
        <ion-card-title>DhakaTech</ion-card-title>
        <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      </ion-card-header>

      <ion-card-content>
        <ion-chip color="primary"
          ><ion-icon name="arrow-redo-outline"></ion-icon> {{
          job.post}}</ion-chip
        >
        <ion-chip color="primary"
          ><ion-icon name="cash-outline"></ion-icon>$5000</ion-chip
        >
        <ion-chip color="primary"
          ><ion-icon name="calendar"></ion-icon>1 Jan 2023</ion-chip
        >
        <ion-chip color="primary">60%</ion-chip>
      </ion-card-content>
      <ion-button style="margin: 20px">Apply</ion-button>
    </ion-card>
  </div>
</ion-content>
