<ion-header>
  <ion-toolbar>
    <div class="header">
      <img
        style="height: 90%; margin: 12px"
        src="../../../../assets/logo.PNG"
      />
      <ion-title style="padding: 0%">TPO</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let student of students">
      <ion-label>{{student.firstName + " " + student.lastName}}</ion-label>
      <ion-button
        [color]="student.approved ? 'success' : 'danger'"
        slot="end"
        fill="outline"
      >
        {{student.approved ? 'Disable' : 'Enable'}}
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
