<ion-header>
  <ion-toolbar>
    <ion-searchbar
      animated="true"
      placeholder="Search"
      style="margin-top: 8px"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Harshit Mantri</ion-label>
      <ion-button slot="end" color="danger" fill="outline">
        Disable
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Ammar Bohra</ion-label>
      <ion-button slot="end" color="danger" fill="outline">
        Disable
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Himanshu Dhaka</ion-label>
      <ion-button slot="end" color="danger" fill="outline">
        Disable
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Kapil Dadhich</ion-label>
      <ion-button slot="end" color="danger" fill="outline">
        Disable
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Vasu Gupta</ion-label>
      <ion-button slot="end" color="danger" fill="outline">
        Disable
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
