<ion-header>
  <ion-toolbar>
    <div
      class="header"
      style="background-image: linear-gradient(to right, #00ff83, #80ffc2)"
    >
      <h1 style="padding-left: 10px">JobTree</h1>
      <img src="../../../../assets/tree.png" style="height: 26px" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="box"></div>

  <div style="padding: 0 15px; height: 250px">
    <div class="container">
      <div class="avatar"></div>
      <div style="padding-top: 26px">
        <h1>{{user.name}}</h1>
        <h3>{{user?.city}}, {{user?.state}}</h3>
        <h2>{{user?.phone}}</h2>
        <!-- <h1>Hi</h1> -->
      </div>
    </div>
    <div class="container-2">
      <ion-list lines="none">
        <ion-item class="link" routerLink="edit-profile">
          <ion-label
            ><ion-icon style="margin-right: 4px" name="person-add"></ion-icon
            >Edit Profile</ion-label
          >
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-item>
        <ion-item class="link" routerLink="change-password">
          <ion-label
            ><ion-icon style="margin-right: 4px" name="eye-off"></ion-icon
            >Change Password</ion-label
          >
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-item>
        <ion-item class="link" routerLink="about">
          <ion-label
            ><ion-icon style="margin-right: 4px" name="terminal"></ion-icon
            >About</ion-label
          >
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-item>
      </ion-list>
      <div style="margin: 16px">
        <ion-button
          expand="block"
          color="danger"
          fill="outline"
          (click)="onClick()"
          >Logout</ion-button
        >
      </div>
    </div>
  </div>
</ion-content>
