<ion-header>
  <ion-toolbar>
    <div
      class="header"
      style="background-image: linear-gradient(to right, #00ff83, #80ffc2)"
    >
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <h1 style="padding-left: 10px">JobTree</h1>
      <img src="../../../../assets/tree.png" style="height: 26px" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="box"></div>
  <div class="content">
    <h1>JobTree</h1>
    <p>
      JobTree is the #1 destination to find and list incredible remote jobs.
    </p>
  </div>
  <div class="container">
    <form
      class="form"
      [formGroup]="form"
      (ngSubmit)="submit()"
      novalidate
      style="width: 100%"
    >
      <!-- <ion-list> -->
      <ion-item lines="none" class="input">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirm"></ion-input>
      </ion-item>
      <ion-col>
        <ion-button type="submit" color="secondary" expand="block"
          >Submit</ion-button
        >
      </ion-col>
      <!-- </ion-list> -->
    </form>
  </div>
</ion-content>
