<ion-header>
  <ion-toolbar
    style="--background: linear-gradient(to right, #00ff83, #80ffc2)"
  >
    <div style="width: 100%; display: block; height: 100%">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="box"></div>
  <div class="content">
    <h1>JobTree</h1>
    <p>
      JobTree is the #1 destination to find and list incredible remote jobs.
    </p>
  </div>
  <div class="container">
    <form
      class="form"
      [formGroup]="ionicForm"
      (ngSubmit)="submitForm()"
      novalidate
      style="width: 100%"
    >
      <ion-item lines="full" class="input">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email" required></ion-input>
      </ion-item>
      <ion-item lines="full" class="input">
        <ion-label position="floating">Password</ion-label>
        <ion-input
          type="password"
          formControlName="password"
          required
        ></ion-input>
      </ion-item>
      <ion-list lines="full" class="input">
        <ion-item>
          <ion-select placeholder="Select type" formControlName="type" required>
            <ion-select-option value="company">Company</ion-select-option>
            <ion-select-option value="college">College</ion-select-option>
            <ion-select-option value="student">Student</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-col>
        <ion-button
          type="submit"
          color="secondary"
          expand="block"
          style="height: 50px"
          >Submit</ion-button
        >
      </ion-col>
    </form>
  </div>
</ion-content>
