.container {
  height: 40%;
  width: 100%;
  // border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #d9e8ff;
  color: black;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;
}

.avatar {
  height: 200px;
  width: 200px;
  background-color: black;
  border-radius: 50%;
}
