<ion-header>
  <ion-toolbar>
    <div
      class="header"
      style="background-image: linear-gradient(to right, #00ff83, #80ffc2)"
    >
      <h1 style="padding-left: 10px">JobTree</h1>
      <img src="../../../../assets/tree.png" style="height: 26px" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="container">
    <div class="box"></div>
    <!-- <h1 *ngIf="!jobs.length">No Jobs to see</h1> -->
    <ion-card class="card" *ngFor="let job of jobs">
      <ion-card-header class="flex" style="justify-content: space-between">
        <div class="flex">
          <div class="avatar"></div>
          <div class="avatar-content">
            <ion-card-title>{{user$.name}}</ion-card-title>
            <p>{{user$.city}},{{user$.state}}</p>
          </div>
        </div>
        <div>
          <ion-icon
            (click)="onClick(job.id)"
            style="font-size: 35px"
            color="danger"
            name="trash-outline"
          ></ion-icon>
        </div>
      </ion-card-header>

      <ion-card-content>
        <div>
          <ion-chip color="primary"
            ><ion-icon name="arrow-redo-outline"></ion-icon
            ><ion-label>{{job.post}}</ion-label></ion-chip
          >
          <ion-chip color="primary"
            ><ion-icon name="cash-outline"></ion-icon
            ><ion-label>{{job.salary}}</ion-label></ion-chip
          >
        </div>
        <span><ion-icon name="calendar"></ion-icon>1 Jan 2023</span>
        <span>{{job.criteria}}</span>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" routerLink="add-drive">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
