<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>DhakaTech</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>

    <ion-card-content>
      <span
        ><ion-icon name="arrow-redo-outline"></ion-icon> Backend Developer</span
      >
      <span><ion-icon name="money"></ion-icon>$5000</span>
      <span><ion-icon name="calendar"></ion-icon>1 Jan 2023</span>
      <span>60%</span>
    </ion-card-content>
    <!-- <ion-button style="margin: 20px">Apply</ion-button> -->
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>DT</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>

    <ion-card-content>
      <span
        ><ion-icon name="arrow-redo-outline"></ion-icon> Frontend
        Developer</span
      >
      <span><ion-icon name="money"></ion-icon>$3000</span>
      <span><ion-icon name="calendar"></ion-icon>5 Jan 2023</span>
      <span>50%</span>
    </ion-card-content>
    <!-- <ion-button style="margin: 20px">Apply</ion-button> -->
  </ion-card>
</ion-content>
